@mixin text {
    @media screen and (min-width: 1000px) {
        content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
        white-space: pre-wrap;
        position: relative;
       
        margin-right: 1.9em;
        left: 0.8em;
        top:2.2em;
        font-size: 1.3em;
        background-position-x: 1rem;
        font-family: "Tourney", monospace;
        text-align: center;
        color: #f9d302;
        }
        @media screen and (min-width: 1050px) {
          left: 0.6em;
          top:1.8em;
        }
        @media screen and (min-width: 1060px) {
          left: 0em;
          top:1.6em;
          margin-left: 0.3em;
        }
        @media screen and (min-width: 1080px) {
          left: 0em;
          top:1.6em;
          margin-left: 0.0em;
        }
        @media screen and (min-width: 1104px) {
          left: 0em;
          top:1em;
          margin-left: 0.2em;
          margin-right: 0.2em;
        }
        @media screen and (min-width: 1115px) {
          left: 0.5em;
          top:1.6em;
          margin-left: 0.2em;
        }
        @media screen and (min-width: 1120px) {
          left: 0.3em;
          top:0.1em; 
          font-size: 1.5em;
          margin-left: 0em;
          margin-right: 0.0em;
        }
        @media screen and (min-width: 1150px) {
          left: 0.0em;
          top:0.0em; 
          font-size: 1.5em;
          margin-left: 0.9em;
          margin-right: 0.9em;
        }
        @media screen and (min-width: 1160px) {
          left: -0.4em;
          top:-0.5em; 
          font-size: 1.5em;
          margin-left: 0.5em;
          margin-right: 0.5em;
          
        }
      
        @media screen and (min-width: 1200px) {
          content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
          left: 0.3em;
          top:0.2em; 
          font-size: 1.5em;
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
        @media screen and (min-width: 1230px) {
          content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
          left: 0.1em;
          top:0.2em; 
          font-size: 1.5em;
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
        @media screen and (min-width: 1250px) {
          content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
          left: 0.0em;
          top:0.0em; 
          font-size: 1.4em;
          margin-left: 0.7em;
          margin-right: 0.7em;
        }/**/
        @media screen and (min-width: 1269px) {
          content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
          left: -0.4em;
          top:0.0em; 
          font-size: 1.5em;
          margin-left: 0.7em;
          margin-right: 0.7em;
        }
        @media screen and (min-width: 1280px) {
          content: 'CSS Zen Garden\A\AThe Beauty of CSS Design';
          left: -0.3em;
          top:0em; 
          font-size: 1.5em;
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
        @media screen and (min-width: 1290px) {
          left: -0.8em;
          top:-0.7em; 
          font-size: 1.5em;
          margin-left: 1em;
          margin-right: 1em;
        }
        @media screen and (min-width: 1300px) {
          left: -0.8em;
          top:0em; 
          font-size: 1.4em;
          margin-left: 0.9em;
          margin-right: 0.9em;
        }
        @media screen and (min-width: 1320px) {
          left: -1em;
          top:0em; 
          font-size: 1.4em;
          margin-left: 1em;
          margin-right: 1em;
        }
        @media screen and (min-width: 1326px) {
          left: 0em;
          top:0.2em; 
          font-size: 1.6em;
          margin-left:0em;
          margin-right: 0em;
        }
        @media screen and (min-width: 1362px) {
          left: -0.2em;
          top:0.2em; 
          font-size: 1.6em;
          margin-left:0em;
          margin-right: 0em;
        }
        @media screen and (min-width: 1367px) {
          left: -0.5em;
          top:0.2em; 
          font-size: 1.6em;
          margin-left:0em;
          margin-right: 0em;
        }
        @media screen and (min-width: 1392px) {
          left: -0.9em;
          top:0.2em; 
          font-size: 1.6em;
          margin-left:0em;
          margin-right: 0em;
        }
        @media screen and (min-width: 1400px) {
          left: -0.8em;
          top:0.2em; 
          font-size: 1.6em;
          margin-left:0em;
          margin-right: 0em;
        }
}

@mixin position_background($Irow,$Erow,$Icolumn,$Ecolumn,$Back-Pos-X:center,$Back-Pos-y:center,$display:grid){
    grid-row-start: $Irow;
    grid-row-end: $Erow;
    grid-column-start:$Icolumn;
    grid-column-end:$Ecolumn;
    background-position-x:$Back-Pos-X;
    display: $display;
}
@mixin cpu_logo_grid{
    @media screen and (min-width: 1000px) {
        content: "";
        position: relative;
        @include position_background(6,10,5,9,3.6rem);
        background: url(../../SVG/CPU.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-family: "Tourney", monospace;
        text-align: center;
        color: #f9d302;
      }
      @media screen and (min-width: 1100px) {
        @include position_background(5,10,5,9,3.8rem);
      }
      @media screen and (min-width: 1116px) {
        @include position_background(5,10,5,9,4.6rem);
      }
      @media screen and (min-width: 1200px) {
        @include position_background(5,10,5,9,5.7rem);
      }
      @media screen and (min-width: 1326px) {
        @include position_background(4,11,5,9,4.6rem);
      }
}