.explanation{
    display: none;
    grid-column: 1/5;
    @media screen and (min-width: 1000px) { 
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,0.1fr);
        grid-column: 1/13;
        grid-row: 1/13;
    }
}

.explanation h3 {
    grid-column: 1/13;
    grid-row:1/3;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    color: white;
  font-family: "Roboto Mono", cursive;
  font-size: 0.8em;
  background: url(../../SVG/sata_controler.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  
@media screen and(min-width:480px){
    font-size: 1em;
}

@media screen and(min-width:560px){
    font-size: 1.2em;
}
@media screen and (min-width:670px){
  font-size: 1.5em;
}
  @media screen and (min-width: 1000px) { 
      text-align: left;
      padding-top: 1em;
      padding-left: 1em;
        padding-right: 1em;
      grid-column: 1/5;
      grid-row: 2/3;
      font-size: 1.5em;
  }
  }
  .explanation p:first-of-type{
      @media screen and (min-width: 1000px) { 
        grid-column: 1/5;
        grid-row: 3/13;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
  }

  .explanation p:last-of-type{
    @media screen and (min-width: 1000px) { 
      grid-column: 9/13;
      grid-row: 2/13;
      padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
  }
}
  .explanation p {
    grid-column: 1/13;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0em;
    margin-top: 0em;
    height: auto;
   color: white;
  font-family: "Roboto Mono", cursive;
  font-size: 0.8em;

  background: url(../../SVG/sata_controler.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
       
   @media screen and (min-width: 460px) {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 0.9em;

     }
   @media screen and (min-width: 590px) {
    font-size: 1em;
       padding-left: 3.2em;
       padding-right: 3.2em;
     
     }
   @media screen and (min-width: 675px) {
    font-size: 1.2em;
    padding-left: 3.4em;
       padding-right: 3.4em;
     
     }

     @media screen and (min-width: 860px) {
        font-size: 1.3em;
        padding-left: 3.7em;
           padding-right: 3.7em;
         
         }

     @media screen and (min-width: 970px) {
        font-size: 1.3em;
        padding-left: 4.3em;
           padding-right: 4.3em;
         
         }
   @media screen and (min-width: 1000px) {
        margin: 0em;
        background-repeat: repeat-y;
     }
   }

   .explanation::before{
     @include cpu_logo_grid;
     @media screen and (min-width: 1000px) {
      @include position_background(6,10,5,9,3.6rem);
     }
     @media screen and (min-width: 1138px){ 
      background-position-x: 6rem;
    }
    @media screen and (min-width: 1174px){ 
      background-position-x: 5rem;
      grid-row: 5/10;
    }
    @media screen and (min-width: 1200px){ 
      background-position-x: 6rem;
      grid-row: 5/10;

    }
    @media screen and (min-width: 1290px){ 
      background-position-x: 6rem;
      grid-row: 4/10;
    }
    @media screen and (min-width: 1391px){ 
      background-position-x: 6.5rem;
      grid-row: 4/10;
    }
    @media screen and (min-width: 1391px){ 
      background-position-x: 6.5rem;
      grid-row: 4/11;
    }
  }
  .explanation::after{
    @include text;
    @media screen and (min-width: 1000px) {
      @include position_background(6,10,6,8);
    }
    @media screen and (min-width: 1102px) {
      left:-1.3em;
      top:2em;
      margin-left: 0.5em;
      margin-right: 0.5em;
   }
   @media screen and (min-width: 1120px) {
    left:-1.3em;
    top:2em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    font-size: 1.3em;
 }
 @media screen and (min-width: 1138px) {
  left:0.2em
}
@media screen and (min-width: 1154px) {
  margin-left: 1.2em;
  margin-right: 1.2em;
  top:1em;
}
@media screen and (min-width: 1174px) {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
@media screen and (min-width: 1215px) {
  margin-left: 0.35em;
  margin-right: 0.35em;
}
@media screen and (min-width: 1257px) {
  margin-left: 0.4em;
  margin-right: 0.4em;
  left:-0.2em;
}
@media screen and (min-width: 1260px) {
  margin-left: 1em;
  margin-right: 1em;
  left:-0.2em;
}
@media screen and (min-width: 1290px) {
  margin-left: 1em;
  margin-right: 1em;
  top:0em;
  left:0.2em;
}
@media screen and (min-width: 1339px) {
  margin-left: 1em;
  margin-right: 1em;
  top:0em;
  left:-0.2em;
}
@media screen and (min-width: 1363px) {
  margin-left: 1em;
  margin-right: 1em;
  top:0em;
  left:-0.2em;
}
@media screen and (min-width: 1391px){ 
  left:0em;
}
@media screen and (min-width: 1415px){ 
  left:-0.2em;
}
    }