@import "../_mixins/mixins.scss";
.summary/*,
.requirements p:nth-child(2n) */{
  margin-top: 1em;
  background: url(../../SVG/ata_controler.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  color: white;
  font-family: "Roboto Mono", cursive;
  font-size: 0.8em;
  grid-column: 1/5;
  grid-row: 3/4;
  @media screen and (min-width: 490px) {
      background-size: 100%;
      font-size: 0.9em;
      grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
      
  }
  @media screen and (min-width: 450px) {
    background-size: 100%;
    background-position-y: 0rem;
    grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
}
@media screen and (min-width: 600px) {
  background-size: 100%;
  grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
  font-size: 1em;
}
@media screen and (min-width: 675px) {
  background-size: 95%;
  grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
}
@media screen and (min-width: 700px) {
  background-size: 100%;
  grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
}
@media screen and (min-width: 800px) {
  background-size: 100%;
  background-position-y: -1rem;
  grid-template-rows: 0.5fr 0.3fr 0.7fr 0.5fr;
}
@media screen and (min-width: 1000px) {
  grid-row: 4/8;
  grid-column: 1/4;
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0em;
}
@media screen and (min-width: 1200px) {
  grid-row: 3/10;
  grid-column: 1/4;
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0em;
  font-size: 1.3em;
}
@media screen and (min-width: 1320px) {
  grid-row: 3/9;
  grid-column: 1/4;
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0em;
  font-size: 1.3em;
}
}
.summary{
  @media screen and (min-width: 1000px) {
    grid-row:4/8;
  }
  @media screen and (min-width: 1200px) {
    grid-row:3/10;
  }
  @media screen and (min-width: 1300px) {
    grid-row:3/9;
  }
}


.summary p:first-child{
  margin-top: 2em;
@media screen and (min-width: 490px) {
  margin-left: 2.5em;
}
@media screen and (min-width: 600px) {
  margin-left: 3em;
}
@media screen and (min-width: 675px) {
  margin-left: 4em;
}
@media screen and (min-width: 1000px) {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 1120px) {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}
}
.summary p/*,
.requirements p:nth-child(2n) p*/ {
  margin-left: 2.2em;
  margin-right: 2.2em;
  
@media screen and (min-width: 490px) {
  
  margin-left: 2.5em;

}
@media screen and (min-width: 600px) {

  margin-left: 3em;

}
@media screen and (min-width: 675px) {

  margin-left: 4em;
 margin-right: 3.75em;

}
@media screen and (min-width: 1000px) {

  margin-left: 2em;
 margin-right:2em;

}
@media screen and (min-width: 1120px) {
  margin-left: 2em;
  margin-right:2em;
  font-size: 1.2em;

}
}

.summary p+p{
  padding-bottom: 1.5em;
}

.benefits{
  display: none;
  }

  .requirements{
    display: none;
  }

    

 
  