footer {
  position: absolute;
  left: 85%;
  top: 0;
  display: block;
  @media screen and (min-width: 1000px) {
    left: 33%;
    position: relative;
    grid-row: 3/4;
    grid-column: 2/5;
  }
}
footer a {
  text-align: center;
  padding: 2rem 1rem;
  background-color: $black;
  border-radius: 100%;
  text-decoration: none;
  margin-top: 2rem;
  display: block;
  color: $white;
  @media screen and (min-width: 1000px) {
    padding: 2rem 1rem;
    width: 300px;
    height: 20px;
    width: 3rem;
    display: inline-block;
    margin-left: 15px;
  }
}
