header {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;
    background: url("../../SVG/CPU.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    grid-template-rows: 0.4fr 0.25fr 0.3fr 0.35fr;
    grid-template-columns: 0.1fr repeat(2, 0.27fr) 0.05fr;
    font-size: 1em;
    background-position-x: 1rem;
    font-family: "Tourney", monospace;
    color: #f9d302;
    text-align: center;
    @media screen and (min-width: 430px) {
        background-size: 65%;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
        grid-template-columns: 0.13fr repeat(2, 0.24fr) 0.05fr;
        font-size: 1em;
    }
    @media screen and (min-width: 500px) {
        background-size: 60%;
        grid-template-rows: 0.45fr 0.3fr 0.7fr 0.4fr;
        grid-template-columns: 0.1fr repeat(2, 0.24fr) 0.05fr;
        font-size: 1em;
    }
    @media screen and (min-width: 535px) {
        background-size: 55%;
        grid-template-rows: 0.5fr 0.3fr 0.7fr 0.35fr;
        grid-template-columns: 0.1fr repeat(2, 0.22fr) 0.09fr;
        font-size: 1em;
    }
    @media screen and (min-width: 550px) {
        background-size: 55%;
        grid-template-rows: 0.35fr 0.3fr 0.7fr 0.3fr;
        grid-template-columns: 0.1fr repeat(2, 0.2fr) 0.09fr;
        font-size: 1em;
    }
    @media screen and (min-width: 580px) {
        background-size: 50%;
        grid-template-rows: 0.35fr 0.3fr 0.7fr 0.5fr;
        grid-template-columns: 0.08fr repeat(2, 0.2fr) 0.07fr;
        font-size: 1em;
    }
    @media screen and (min-width: 630px) {
        background-size: 50%;
        grid-template-rows: 0.35fr 0.3fr 0.7fr 0.5fr;
        grid-template-columns: 0.08fr repeat(2, 0.2fr) 0.07fr;
        font-size: 1.05em;
    }
    @media screen and (min-width: 670px) {
        background-size: 50%;
        grid-template-rows: 0.35fr 0.3fr 0.7fr 0.35fr;
        grid-template-columns: 0.1fr repeat(2, 0.18fr) 0.07fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 700px) {
        background-size: 50%;
        grid-template-rows: 0.3fr 0.3fr 0.7fr 0.5fr;
        grid-template-columns: 0.1fr repeat(2, 0.16fr) 0.1fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 720px) {
        background-size: 50%;
        grid-template-rows: 0.3fr 0.3fr 0.7fr 0.5fr;
        grid-template-columns: 0.1fr repeat(2, 0.16fr) 0.1fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 740px) {
        background-size: 45%;
        grid-template-rows: 0.3fr 0.3fr 0.7fr 0.4fr;
        grid-template-columns: 0.08fr repeat(2, 0.16fr) 0.1fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 745px) {
        background-size: 45%;
        grid-template-rows: 0.3fr 0.3fr 0.7fr 0.4fr;
        grid-template-columns: 0.08fr repeat(2, 0.16fr) 0.1fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 760px) {
        background-size: 45%;
        grid-template-rows: 0.3fr 0.3fr 0.7fr 0.4fr;
        grid-template-columns: 0.08fr repeat(2, 0.16fr) 0.1fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 800px) {
        background-size: 40%;
        grid-template-rows: 0.4fr 0.3fr 0.7fr 0.6fr;
        grid-template-columns: 0.065fr repeat(2, 0.16fr) 0.05fr;
        font-size: 1.1em;
    }
    @media screen and (min-width: 850px) {
        background-size: 40%;
        grid-template-rows: 0.4fr 0.3fr 0.7fr 0.6fr;
        grid-template-columns: 0.065fr repeat(2, 0.16fr) 0.05fr;
        font-size: 1.15em;
    }
    @media screen and (min-width: 900px) {
        background-size: 40%;
        grid-template-rows: 0.4fr 0.3fr 0.7fr 0.6fr;
        grid-template-columns: 0.065fr repeat(2, 0.16fr) 0.05fr;
        font-size: 1.2em;
    }
    @media screen and (min-width: 910px) {
        background-size: 40%;
        grid-template-rows: 0.4fr 0.3fr 0.7fr 0.6fr;
        grid-template-columns: 0.065fr repeat(2, 0.16fr) 0.05fr;
        font-size: 1.2em;
    }
    @media screen and (min-width: 1000px) {
      grid-template-rows: 0.1fr 0.15fr 0.2fr 0.1fr;
      grid-template-columns: 0.15fr repeat(2, 0.4fr) 0.2fr;
        grid-column: 5/9;
        grid-row:4/10;
        background-size: 100%;
        background-position-y: 0rem;
        background-position-x: 0rem;
        font-size: 1.2em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    @media screen and (min-width: 1024px) {
       grid-template-rows: 0.1fr 0.15fr 0.2fr 0.11fr;
       grid-template-columns: 0.10fr repeat(2, 0.4fr) 0.12fr;
         grid-column: 5/9;
         grid-row:4/10;
         background-size: 95%;
         background-position-y: 0rem;
         background-position-x: 0rem;
         font-size: 1.2em;
         margin-left: 1.5em;
         margin-right: 1.5em;
     }
     @media screen and (min-width: 1104px) {
        grid-template-columns:0.1fr repeat(2, 0.35fr) 0.16fr;
     }
     @media screen and (min-width: 1120px) {
       grid-template-rows: 0.11fr 0.1fr 0.11fr 0.12fr;
       grid-template-columns: 0.14fr repeat(2, 0.3fr) 0.15fr;
         background-size: 90%;
     }
    
     @media screen and (min-width: 1180px) {
         background-size: 85%;
     }
    
     @media screen and (min-width: 1220px) {
        grid-template-rows: 0.1fr 0.1fr 0.13fr 0.08fr;
        grid-template-columns: 0.12fr repeat(2, 0.3fr) 0.11fr;
         background-size: 80%;
     }
    
     @media screen and (min-width: 1300px) {
        grid-template-rows: 0.1fr 0.12fr 0.12fr 0.12fr;
        grid-template-columns: 0.1fr repeat(2, 0.25fr) 0.16fr;
        background-size: 75%;
     }
    
     @media screen and (min-width: 1390px) {
        grid-template-rows: 0.15fr 0.12fr 0.12fr 0.15fr;
        grid-template-columns: 0.12fr repeat(2, 0.25fr) 0.1fr;
        background-size: 70%;
        font-size: 1.4em;
     }
    }
    
    header h1 {
      grid-column: 2/4;
      grid-row: 2/3;
      font-size: 1em;
      @media screen and (min-width: 430px) {
          font-size: 1.2em;
      }
    }
    
    
    header h2{ 
      grid-column: 2/4;
      grid-row: 3/4;
      font-size: 1.5em;
      margin-top: 0.4em;
    @media screen and (min-width: 450px) {
        margin-top: 1em;
    }
    @media screen and (min-width: 1000px) {
        font-size: 1.4em;
    }
    @media screen and (min-width: 1000px) {   
         font-size: 1.3em;
     }
    }