ul {
  list-style: none;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  margin-left: 20px;
  @media screen and (min-width: 1000px) {
    grid-column: 1 / 7;
    grid-row: 1/ 2;
  }
}
.wrapper a {
  text-decoration: none;
}
.wrapper {
  @media screen and (min-width: 1000px) {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1 / 3;
    grid-row: 1/ 2;
  }
}

nav[role="navigation"] {
  display: none;
}

.zen-resources > ul {
  display: none;
}

/*navigation buttons styles */
.wrapper > div > h3 {
  cursor: pointer;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  text-align: center;
  width: 150px;
  display: inline-block;
  padding: 1rem 1.2rem;
  color: $white;
  background: url("../../SVG/ata_controler.svg");
  @media screen and (min-width: 1000px) {
    display: inline-block;
  }
}

.wrapper > div > h3:active {
  background-color: $green;
}

//nav items container pointing to - nav item content lists
.design-selection > nav,
.design-archives > nav,
.zen-resources > ul {
  display: block;
  grid-template-rows: 200px 200px 200px;
  width: 80%;
  max-width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(107, 175, 107);
  left: -400px;
  transition: left 0.35s;
}
//nav bar item - hover
.select:hover ~ nav,
.resources:hover ~ ul,
.archives:hover ~ nav {
  display: block;
  left: 0;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

ul:hover,
nav:hover {
  left: 0;
}

li a,
nav li,
ul li {
  color: $white;
  z-index: 1;
  margin-top: 3rem;
}

.design-selection {
  grid-column: 3/4;
  grid-row: 1/2;
}

.design-archives {
  grid-column: 4/5;
  grid-row: 1/2;
}

.zen-resources {
  grid-column: 5/6;
  grid-row: 1/2;
}
