@import "../_mixins/mixins.scss";
.participation{
    display: none;
    grid-column: 1/5;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
    /*grid-template-columns: repeat(12,0.074fr);*/
    @media screen and (min-width: 1000px) { 
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,0.2fr);
        grid-column: 1/13;
        grid-row: 1/13;
    }
}

.participation h3 {
    grid-column: 1/13;
    grid-row:1/3;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    color: white;
  font-family: "Roboto Mono", cursive;
  font-size: 0.95em;
  background: url(../../SVG/sata_controler.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  
@media screen and(min-width:480px){
    font-size: 1em;
}

@media screen and(min-width:560px){
    font-size: 1.2em;
}
@media screen and (min-width:670px){
  font-size: 1.5em;
}
  @media screen and (min-width: 1000px) { 
        text-align: left;
        padding-top: 0.5em;
        padding-left: 1.4em;
        padding-right: 1em;
        grid-column: 1/5;
        grid-row: 2/3;
        font-size: 1.2em;
  }
  @media screen and (min-width: 1066px) { 
    grid-row: 3/4;
    font-size: 1.4em;
  }
  @media screen and (min-width: 1100px) { 
    font-size: 1.4em;
  }
  }

  .participation p:first-of-type{
    @media screen and (min-width: 1000px) { 
      grid-column: 1/5;
      grid-row: 3/12;
      padding-top: 0.7em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      font-size: 1.2em;
  }
  @media screen and (min-width: 1066px) { 
    grid-column: 1/5;
    grid-row: 4/11;
    padding-top: 0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.3em;
}
}

.participation p:nth-child(3){
    @media screen and (min-width: 1000px) { 
      grid-column: 9/13;
      grid-row: 2/7;
      padding-top: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size:1.1em;
        
  }
  @media screen and (min-width: 1066px) {
    grid-row: 2/6;
    font-size:1.1em;
  }
  @media screen and (min-width: 1100px) {
      grid-row:2/7;
    font-size:1.3em;
  }
}
.participation p:last-child{
    @media screen and (min-width: 1000px) { 
      grid-column: 9/13;
      grid-row: 7/13;
      padding-top: 0em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size:1em;
  }
  @media screen and (min-width: 1066px) {
      grid-row:6/13;
    font-size:1.2em;
  }
  @media screen and (min-width: 1100px) {
    grid-row:7/13;
    font-size:1.2em;
  }
}


.participation p{
    grid-column: 1/13;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0em;
    margin-top: 0em;
    height: auto;
   color: white;
  font-family: "Roboto Mono", cursive;
  font-size: 0.8em;

  background: url(../../SVG/sata_controler.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
       
   @media screen and (min-width: 460px) {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 0.9em;

     }
   @media screen and (min-width: 590px) {
    font-size: 1em;
       padding-left: 3.2em;
       padding-right: 3.2em;
     
     }
   @media screen and (min-width: 675px) {
    font-size: 1.2em;
    padding-left: 3.4em;
       padding-right: 3.4em;
     
     }

     @media screen and (min-width: 860px) {
        font-size: 1.3em;
        padding-left: 3.7em;
           padding-right: 3.7em;
         
         }

     @media screen and (min-width: 970px) {
        font-size: 1.3em;
        padding-left: 4.3em;
           padding-right: 4.3em;
         
         }
   @media screen and (min-width: 1000px) {
        margin: 0em;
        background-repeat: repeat-y;
     }
   }

   .participation::before{
    @include cpu_logo_grid;
    @media screen and (min-width: 1000px) {
     @include position_background(5,10,5,9,3.6rem);
    }
    @media screen and (min-width: 1066px) {
        grid-row:5/9;
   }
    @media screen and (min-width: 1138px){ 
     background-position-x: 5.2rem;
   }
   @media screen and (min-width: 1174px){ 
     background-position-x: 5rem;
     grid-row: 5/9;
   }
   @media screen and (min-width: 1185px){ 
    background-position-x: 3rem;
    grid-row: 5/10;
  }
   @media screen and (min-width: 1200px){ 
    background-position-x: 3.5rem;
     grid-row: 5/10;

   }
   @media screen and (min-width: 1290px){ 
     background-position-x: 4rem;
     grid-row: 4/10;
   }
   @media screen and (min-width: 1391px){ 
     background-position-x: 6.5rem;
     grid-row: 4/10;
   }
   @media screen and (min-width: 1391px){ 
    background-position-x:5em;
     
   }
 }
 .participation::after{
   @include text;
   @media screen and (min-width: 1000px) {
     @include position_background(6,10,6,8);
     left:0.5em;
     top:1.2em;
     margin-left: 0em;
     margin-right: 0em;
   }
 

   @media screen and (min-width: 1102px) {
     left:0em;
     top:0em;
     margin-left: 0.5em;
     margin-right: 0.5em;
  }
  @media screen and (min-width: 1120px) {
    left:0em;
    top:-0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
@media screen and (min-width: 1138px) {
 left:1.2em;
 margin-left:0em;
 margin-right:0em;
}
@media screen and (min-width: 1154px) {
    left:0.8em;
 top:0.2em;
}
@media screen and (min-width: 1174px) {
 margin-left: 0.1em;
 margin-right: 0.1em;
 left:0.4em;
 top:-0.4em;
}
@media screen and (min-width: 1185px) {
    margin-left: 0.1em;
    margin-right: 0.1em;
    left:0.4em;
    top:1.4em;
   }
   @media screen and (min-width: 1190px) {
    margin-left: 0.1em;
    margin-right: 0.1em;
    left:0em;
    top:1.4em;
   }
@media screen and (min-width: 1215px) {
left:-0.5em;
top:1em;
 margin-left: 0.35em;
 margin-right: 0.35em;
}
@media screen and (min-width: 1257px) {
 margin-left: 0.4em;
 margin-right: 0.4em;
 left:-0.2em;
}
@media screen and (min-width: 1260px) {
 margin-left: 0em;
 margin-right:0em;
 top:2em;
 left:-0.2em;
}
@media screen and (min-width: 1290px) {
 margin-left: 0em;
 margin-right: 0em;
 top:0em;
 left:0.2em;
}
@media screen and (min-width: 1339px) {
 margin-left: 0em;
 margin-right: 0em;
 top:0em;
 left:-0.2em;
}
@media screen and (min-width: 1363px) { 
 margin-left: 0em;
 margin-right: 0em;
 top:0em;
 left:-0.2em;
}
@media screen and (min-width: 1391px){ 
    
 left:0em;
}
@media screen and (min-width: 1400px){ 
 left:-0.2em;
}
   }