.extra1{
  position: relative;
  left:10vw;
  top:2.5vw;
  width: 80vw;
  height: 20px;
  background-color:#f7ef8a;
  border-radius:50px;
  z-index: -1;
  @media screen  and (min-width:1200px){
    height: 25px;
  }
}
/* button */
.extra2{
  position:relative;
  width: 30px;
  height: 30px;
  top:1vw;
  margin-left:11vw;
  border: 2px solid #ffd700;
  border-radius: 50%;
  background-color: #e0aa3e;
  z-index: 1;
  cursor:pointer;
  &:hover{
    background-color: #ffd700;
    border: 2px solid #e0aa3e;
  }
  @media screen  and (min-width:580px){
    top:0.5em;
  }
  @media screen  and (min-width:680px){
    top:0.6em;
  }
  @media screen  and (min-width:750px){
    width: 35px;
    height: 35px;
  }
  @media screen  and (min-width:870px){
    width: 40px;
    height: 40px;
  }
  @media screen  and (min-width:950px){
    width: 45px;
    height: 45px;
  }
  @media screen  and (min-width:1000px){
    width: 50px;
    height: 50px;
  }
  @media screen  and (min-width:1200px){
    top:0.7em;
  }
  @media screen  and (min-width:1270px){
    width: 60px;
    height: 60px;
    top:0.7em;
  }
}
.extra3{
  position: relative;
  left:10vw;
  top:2.5vw;
  width: 3.5vw;
  height: 20px;
  background-color:#edc967;
  border-radius:50px;
  z-index: 0;
  @media screen  and (min-width:1200px){
    height: 25px;
  }
}

.extra1,
.extra2,
.extra3{
  margin-top: 0.5em;
  margin-bottom: 1em;
  grid-row: 5/6;
  grid-column-start: 1;
  @media screen  and (min-width:1000px){
    grid-row: 5/6;
  }
  
}

::-webkit-scrollbar {
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $orange;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $orange;
  height: 30px;

  border-radius: 20px;
}
