@media screen and (min-width: 1000px) {
  body {
    overflow: scroll;
    overflow-y: hidden;
  }
}

::-webkit-scrollbar {
  width: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $orange;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $orange;
  height: 30px;

  border-radius: 20px;
}
