// color palette - these colors will be the color swatches of the Colors section
//https://coolors.co/2e7d33-9e9e9e-000000-f9d302-f80000

$green: #2e7d33; // Fern Green
$yellow: #f9d302; // cyber yellow
$red: #f80000; // Red
$black: #000000; // black
$gray: #9e9e9e; // Spanish Green

$primary-font: "Roboto Mono", cursive;
$secondary-font: "Tourney", monospace;

// additional colors

$white: white; // white
$orange: orange; // orange

$color-backgroun: $green;
