$green: #2e7d33; // Fern Green
$yellow: #f9d302; // cyber yellow
$red: #f80000; // Red
$black: #000000; // black
$gray: #9e9e9e; // Spanish Green

$white: white; // white
$orange: orange; // orange

$color-backgroun: $green;
